        <div class="custom-ups__item vertical">
          <div class="custom-block">
              <img loading="lazy"  src="https://cdn.shopify.com/s/files/1/0602/9567/6163/files/package.png?v=1634688120" alt="">
              <p>Handlich zusammen-gerollt und einfach transportierbar</p>
          </div>
          <div class="custom-block">
            <img loading="lazy"  src="https://cdn.shopify.com/s/files/1/0602/9567/6163/files/snap.png?v=1634656778" alt="">
            <p>Schnelle Montage ohne jegliche Kenntnisse oder Werkzeuge</p>
        </div>
        </div>