<!-- faq accordion -->

<div class="max-container">
  <div class="faq-title-wrapper">
    <h2 class="h1 center-title">FAQ</h2>
  </div>

  {% if shop.locale == 'de' %}
    <div class="container_center faq-container">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" class="faq-input">
          <label class="tab-label" for="chck1">
            <p>Womit bringe ich die Platten an und wie verdichte ich sie?</p>
          </label>
          <div class="tab-content">
            <p>
              Sie werden geklebt mit handelsüblichen neutral vernetztem Silikon oder alternativ Montagekleber. Zum
              Ankleben empfehlen wir den Ottocoll S495.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck2" class="faq-input">
          <label class="tab-label" for="chck2">
            <p>Könnt ihr die Wandverkleidung schon vorher passend zuschneiden?</p>
          </label>
          <div class="tab-content">
            <p>
              Ja! Du kannst ganz einfach auf der Produktseite deine gewünschten Maße eingeben und wir schneiden, bei uns
              in der Produktion in Oberreidenbach, alles auf den Millimeter genau zurecht. Damit du noch schneller deine
              vier Wände verschönern kannst.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck3" class="faq-input">
          <label class="tab-label" for="chck3">
            <p>Sieht man den bestehenden Untergrund oder den Montagekleber/Silikon durch die Platten durch?</p>
          </label>
          <div class="tab-content">
            <p>
              Ganz einfach und simpel: Nein, garantiert nicht! Auch die Fugen von darunter liegenden Fliesen schimmern
              nicht durch.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck4" class="faq-input">
          <label class="tab-label" for="chck4">
            <p>Was ist, wenn ich doch ein anderes Muster haben will, nachdem ich bereits eines verwendet habe?</p>
          </label>
          <div class="tab-content">
            <p>
              Da du deine Wandverkleidung von WALLando mit Silikon an deine Wand befestigst, ist es mit einem Spachtel
              einfach und schnell möglich, diese abzuziehen. Und das auch ohne Rückstände oder weiteren Komplikationen.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck6" class="faq-input">
          <label class="tab-label" for="chck6"><p>Wie kann ich die Platten über einen Winkel kleben?</p></label>
          <div class="tab-content">
            <p>
              Bei einer Ecklösung können 2 Platten einfach über Eck aneinander gesetzt werden. Die Ecke wird mit Silikon
              abgedichtet. Zum Abdichten eignet sich der Ottoseal S125 hervorragend.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck7" class="faq-input">
          <label class="tab-label" for="chck7"><p>Aus welchem Material sind die Platten?</p></label>
          <div class="tab-content">
            <p>
              WALLando-Wandverkleidungen werden aus PVC gefertigt. Im Gegensatz zu Vinyl sind unsere Platten jedoch
              ausgehärtet und lassen sich nicht eindrücken.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck8" class="faq-input">
          <label class="tab-label" for="chck8"><p>Wie dick sind die Platten?</p></label>
          <div class="tab-content">
            <p>Die Platten haben eine Materialstärke von 1,5 mm.</p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck9" class="faq-input">
          <label class="tab-label" for="chck9"><p>Wie soll der Kleber aufgetragen werden?</p></label>
          <div class="tab-content">
            <p>
              Hierzu beachte bitte die Anwendungshinweise des jeweiligen Klebers. Beim Ottocoll S495 wird empfohlen, den
              Kleber in langen Streifen aufzutragen. Der Abstand zwischen den Streifen sollte ca. 5 cm betragen. Damit
              der Silikonkleber besser trocknen kann, sollten die Streifen alle 30 cm kurz unterbrochen werden.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck10" class="faq-input">
          <label class="tab-label" for="chck10">
            <p>Wie werden die Holz, Stein- und Betondekore auf die Platten aufgebracht?</p>
          </label>
          <div class="tab-content">
            <p>
              Um unsere Platten mit Dekoren zu versehen, verwenden wir Folien aus der Möbelindustrie. Diese Folien sind
              extrem hochwertig und liefern auch eine angenehme Haptik. So sind z. B. die Steinstruktur oder
              Holzmaserung mit den Fingern spürbar. Durch eine lange erprobte Verfahrenstechnik können sich die
              Dekorfolien nicht von den Platten lösen. Hierauf geben wir eine lebenslange Garantie.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck11" class="faq-input">
          <label class="tab-label" for="chck11">
            <p>Wie lange können die Platten nach der Anlieferung im Versandkarton gelagert werden?</p>
          </label>
          <div class="tab-content">
            <p>
              Die Platten sollten direkt nach der Zustellung aus dem Karton entnommen werden.
Sollte zu Hause der Platz für die Lagerung fehlen, hat es sich bewährt die Platten bis zur Montage unter einem Bett aufzubewahren.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  {% elsif shop.locale == 'fr' %}
    <div class="container_center faq-container">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1" class="faq-input">
          <label class="tab-label" for="chck1"><p>Comment poser des panneaux muraux?</p></label>
          <div class="tab-content">
            <p>
              Les panneaux sont simplement collés sur le mur existant avec du silicone à réticulation neutre disponible
              dans le commerce ou, à défaut, avec de la colle de montage. Pour le collage, nous recommandons l'Ottocoll
              S495.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck2" class="faq-input">
          <label class="tab-label" for="chck2"><p>Pouvez-vous découper le revêtement mural à l'avance?</p></label>
          <div class="tab-content">
            <p>
              Oui ! Il vous suffit d'indiquer les dimensions souhaitées sur la page du produit, et nous découpons tout
              au millimètre près, dans nos locaux de production à Oberreidenbach. Vos panneaux seront, ainsi, rapides à
              poser.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck3" class="faq-input">
          <label class="tab-label" for="chck3">
            <p>Peut-on voir le support existant ou la colle de montage/silicone à travers les panneaux?</p>
          </label>
          <div class="tab-content">
            <p>Absolument pas! Même les joints des carreaux sous-jacents ne seront pas visibles.</p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck4" class="faq-input">
          <label class="tab-label" for="chck4">
            <p>Que faire si le motif récemment posé ne me plaît pas, et que je veux en choisir un autre?</p>
          </label>
          <div class="tab-content">
            <p>
              Le revêtement mural de WALLando étant posé et collé à votre mur avec du silicone, il sera facilement
              enlevé avec une spatule.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck6" class="faq-input">
          <label class="tab-label" for="chck6"><p>Comment coller les panneaux sur un angle?</p></label>
          <div class="tab-content">
            <p>
              Il suffit de placer les 2 panneaux l'un contre l'autre dans l'angle. Du silicone est posé au niveau de
              l’angle, pour assurer l’étanchéité. L'Ottoseal S125 convient parfaitement pour l'étanchéité.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck7" class="faq-input">
          <label class="tab-label" for="chck7"><p>En quel matériau sont faits les panneaux?</p></label>
          <div class="tab-content">
            <p>
              Les revêtements muraux WALLO sont fabriqués en PVC. Contrairement au vinyle, nos panneaux sont rigides et
              ne s'enfoncent pas.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck8" class="faq-input">
          <label class="tab-label" for="chck8"><p>Quelle est l'épaisseur des panneaux?</p></label>
          <div class="tab-content">
            <p>Les panneaux ont une épaisseur de 1,5 mm.</p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck9" class="faq-input">
          <label class="tab-label" for="chck9"><p>Comment appliquer la colle?</p></label>
          <div class="tab-content">
            <p>
              Veuillez consulter les instructions d'application de chaque colle. Pour l'Ottocoll S495, il est recommandé
              d'appliquer la colle en longues bandes. La distance entre les bandes doit être d'environ 5 cm.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck10" class="faq-input">
          <label class="tab-label" for="chck10">
            <p>Comment les décors de bois, de pierre et de béton sont-ils appliqués sur les panneaux?</p>
          </label>
          <div class="tab-content">
            <p>
              Pour appliquer des décors sur nos panneaux, nous utilisons des films issus de l'industrie du meuble. Ces
              films sont d'une qualité extrêmement élevée et fournissent également un toucher agréable. La structure de
              la pierre ou les veines du bois, par exemple, sont perceptibles avec les doigts. Grâce à une technique de
              procédé ayant fait ses preuves depuis longtemps, les feuilles décoratives ne peuvent pas se détacher des
              panneaux. Nous offrons une garantie à vie sur ce point.
            </p>
          </div>
        </div>

        
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Custom FAQ",
  "settings": [
  {
    "type": "url",
    "id": "button_link",
    "label": "Button link"
  }
  ],
  "presets": [
    {
      "name": "Custom FAQ",
      "category": "custom",
      "settings": {}
    }
  ]
}
{% endschema %}
