{% liquid
  assign image = section.settings.image_logo
  assign imageSmall = section.settings.image_small
  assign imageBig = section.settings.image_big
%}

<img
  class="bg-image"
  src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/bg-1.svg?v=1706527339"
  alt="bg-image">

<div class="max-container max-hero-container">
  <div class="hero-container">
    <div class="left-fold">
      {% if shop.locale == 'de' %}
        <div class="title-container">
          <h2 class="h1">Schöne & hochwertige Wandverkleidung für dein Zuhause</h2>
        </div>

        <div class="subtitle-container">
          <h4>
            Wenn du keine Lust mehr auf den tristen Blick in deinem
            <strong>Bad</strong>
            oder deiner
            <strong>Küche</strong>
            hast, sind unsere Wandverkleidungen die Lösung.
          </h4>
        </div>

        <a
          style="color:white"
          class="btn btn-main custom-btn"
          href="/collections/alle-wandverkleidungen-wallando">
          Jetzt zu den Wandverkleidungen
        </a>
        <div class="info-container">
          {% include 'check-svg' %}
          <p class="info">Höchste Qualität und 10 Jahre Garantie</p>
        </div>

        <div class="info-container">
          {% include 'check-svg' %}
          <p class="info">Keine lösenden Ecken oder Kanten</p>
        </div>
      {% elsif shop.locale == 'fr' %}
        <div class="title-container">
          <h2 class="h1">Un beau revêtement mural de qualité pour votre maison</h2>
        </div>

        <div class="subtitle-container">
          <h4>
            Envie de rénover votre salle de bain ou votre cuisine? Nos revêtements muraux, à la fois esthétiques et  
            pratiques, sont la solution idéale!
          </h4>
        </div>

        <a
          style="color:white"
          class="btn btn-main custom-btn"
          href="/fr-fr/collections/tous-les-revetements-muraux">
          Continuer vers les revêtements muraux
        </a>

        <div class="info-container">
          {% include 'check-svg' %}

          <p class="info">Qualité supérieure et garantie de 10 ans</p>
        </div>

        <div class="info-container">
          {% include 'check-svg' %}

          <p class="info">Pas de coins ou de bords qui se détachent</p>
        </div>
      {% endif %}

      {% comment %} <a href="https://www.provenexpert.com/ah-kunststoffe-gmbh/" style="color: #000;">
        <div class="review-container">
          <img
            class="review-container-img"
            src="https://cdn.shopify.com/s/files/1/0602/9567/6163/files/ProvenExpert-Bewertungssiegel-round.png?v=1634832287"
            alt="">
          {% include 'star-svg' %}
          {% include 'star-svg' %}
          {% include 'star-svg' %}
          {% include 'star-svg' %}
          {% include 'star-svg' %}
          <p class="info">9800+ Reviews</p>
        </div>
      </a> {% endcomment %}
    </div>
    <div class="right-fold">
      <div class="main-image">
        {%- if imageSmall != blank -%}
          <img
            src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/ezgif.com-animated-gif-maker_1.gif?v=1707125301"
            alt="wallando hero image"
            width="389"
            height="583">
        {%- endif -%}
      </div>


    </div>

  </div>
</div></div>{% schema %}
{
  "name": "Custom Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "Image Logo"
    }, {
      "type": "image_picker",
      "id": "image_small",
      "label": "Small Image"
    }, {
      "type": "image_picker",
      "id": "image_big",
      "label": "Big Image"
    }
  ],
  "presets": [
    {
      "name": "Custom Hero",
      "category": "custom",
      "settings": {}
    }
  ],
  "templates": ["index", "product", "page"]
}{% endschema %}